.container {
  background-color: "#F0F8FF";
   height: "100vh"
} 
.charts {
  display: flex;
  padding-top: 20px;
  height: 300px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chart {
  width: 500px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
