body{
    margin: 0;
    padding: 0;
}

.homeStaff{
    flex-direction: row;
    height: 100vh;
    background-color:rgb(188, 187, 186);
    overflow: auto;
    padding-bottom: 50px;
}
.table{
    display: inline-block;
    display: flex;
    height: 100vh;
    margin-left: 80px;
    margin-right:80px;
}

.profile{
    display: inline-block;
    width: 25%;
    margin-top: 40px;
    height:fit-content;
    background-color: antiquewhite;
}

.mainBox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    background-color: white;
}

.profile-Name{
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

.profile-Status{
    color: #8dc859;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}

.profile-Img {
    margin-left: 20px;

	border: 1px solid #e1e1e1;
    height: 240px;
    width: 240px;
    text-align: center;
}

.profile-Button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: aliceblue;
    border-radius: 3px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: #d9534f;
    /* text-align: center; */
    margin-left: 70px;

}

.label {
	padding: 5px 15px;
	font-size: 17px;
}

hr{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-Details{
    font-size: 14px;
    margin-top: -10px;
    margin-left: -35px;
}

.title{
    padding-top: 10px;
    /* font-weight: bold; */
}

.title-v1{
    padding-top: 20px;
    /* font-weight: bold; */
    
}

.value{
    color: #34d1be;
    font-weight: bold;
}

.value-v1{
    color: black;
}

.logOut{
    background-color: #77ab49;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    color: white;
    border-radius: 5px;
    width: 140px;
    margin-left: 70px;
}

.content{
    display: inline-block;
    width: 72%;
    margin-left: 30px;
    margin-top: 40px;
    height:fit-content;
    background-color: antiquewhite;
}

.info{
    height: 30%;
    background-color:aquamarine;
}

.panel{
    font-size: x-large;
    text-align: center;
    padding-top: 30px;
}

.user-Details{
    flex-direction: row;
    font-size: medium;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.user-left{
    display: inline-block;
    width: 49%;
    background-color: #8dc859;
}

.user-right{
    display: inline-block;
    margin-left: 10px;
    width: 49%;
    background-color: aqua;
}

.tabs{
    height: fit-content;
    background-color: gray;
}

.itemTitle.active {
    background-color: tomato;
}

.active {
    background-color: #8dc859;
}