body{
    margin: 0;
    padding: 0;
}

.homeStaff{
    flex-direction: row;
    height: 100vh;
    background-color:rgb(188, 187, 186);
    overflow: auto;
    padding-bottom: 50px;
}
.table{
    display: inline-block;
    display: flex;
    height: 100vh;
    margin-left: 80px;
    margin-right:80px;
}

.profile{
    display: inline-block;
    width: 25%;
    margin-top: 40px;
    height:fit-content;
    background-color: antiquewhite;
}

.mainBox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    background-color: white;
}

.profile-Name{
    flex-direction: column;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
}

.profile-Status{
    color: #8dc859;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: small;
}

.profile-Img {
	border: 1px solid #e1e1e1;
    height: 330px;
    width: 320px;
    text-align: center;
}

/* .profile-Button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0.5;
    border-radius: 5px;
    border-color: #d9534f;
    text-align: center;
    
} */

.profile-Label {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
	padding: 5px 0;
}

.label {
	padding: 5px 15px;
	font-size: large;
}

hr{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-Details{
    font-size: medium;
    margin-top: -15px;
}

.title{
    padding-top: 15px;
    /* font-weight: bold; */
}

.value{
    color: blue;
}

.logOut{
    font-size: medium;
    text-align: center;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #8dc859;
}

.content{
    display: inline-block;
    width: 59%;
    margin-left: 50px;
    margin-top: 40px;
    height:fit-content;
    background-color: antiquewhite;
}

.info{
    height: 30%;
    background-color: red;
}

.panel{
    font-size: x-large;
    text-align: center;
}

.user-Details{
    flex-direction: row;
    font-size: medium;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-left{
    display: inline-block;
    width: 49%;
    background-color: #8dc859;
}

.user-right{
    display: inline-block;
    margin-left: 10px;
    width: 49%;
    background-color: aqua;
}

.tabs{
    height: fit-content;
    background-color: gray;
}


.itemTitle.active {
    background-color: tomato;
}

.active {
    background-color: #8dc859;
}
